{% extends 'shopapp/base.html' %}
{% block title %}
    Product {{ product.pk }}
{% endblock %}

{% block body %}
    <h1 xmlns="http://www.w3.org/1999/html">Product<strong>{{ product.name }}</strong></h1>
    <div>
        <div>Description<em>{{ product.description }}</em></div>
        <div>Price: {{ product.price }}</div>
        <div>Discount: {{ product.discount }}</div>
        <div>Archived: {{ product.archive }}</div>
        {% if product.preview %}
            <img src="{{ product.preview.url }}" alt="{{ product.preview.name }}">
        {% endif %}
        <h3>Images:</h3>
        <div>
            {% for i_image in product.images.all %}
                <div>
                    <img src="{{ i_image.image.url }}" alt="{{ i_image.image.name }}">
                </div>
                <div>{{ i_image.description }}</div>
            {% empty %}
                <div>No images uploaded yet</div>
            {% endfor %}

        </div>
    </div>
    <div>
        <a href="{% url 'shopapp:products_list' %}">Back to products list</a>
    </div>
    <div>
        <a href="{% url 'shopapp:product_update' pk=product.pk %}">Update product</a>
    </div>
    <div>
        <a href="{% url 'shopapp:product_delete' pk=product.pk %}">Delete product</a>
    </div>
{% endblock %}
