{% extends 'shopapp/base.html' %}

{% block title %}
    Product list
{% endblock %}

{% block body %}
<h1>Products</h1>
{% if products %}
    <div>
        {% for product in products %}
        <div>
            <p><a href="{% url 'shopapp:products_details' pk=product.pk %}">Name: {{ product.name }}</a></p>
            <p>Price: {{ product.price }}</p>
            <p>Discount: {% firstof product.discount 'no discount' %}</p>
            <p>Created by: {{ product.created_by }}</p>
        </div>
        {% endfor %}
    </div>
{% else %}
    No products
{% endif %}
<div>
    {% if perms.user %}
    <a href="{% url 'shopapp:products_create' %}">
        >Create a new product<
    </a>
    {% endif %}
</div>
{% endblock %}