{% extends 'myauth/base.html' %}

{% block title %}
    About me
{% endblock %}


{% block body %}
    <h1>User info</h1>
    {% if user.is_authenticated %}

        {% if user.profile.avatar %}
            <div>
                <img width="100" src="{{ user.profile.avatar.url }}" alt="{{ user.profile.avatar.name }}">
            </div>
        {% else %}
            Not avatar yet
        {% endif %}

        {% if request.user.is_staff or request.user.pk == user.pk %}
            <a href="{% url 'myauth:avatar-update' pk=user.pk %}">Update avatar</a>
        {% endif %}
        <h2>Detail</h2>
        <p>Username: {{ user.username }}</p>
        <p>First name: {{ user.first_name }}</p>
        <p>Last name: {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Bio: {{ user.profile.bio }}</p>
    {% else %}
        <h2>User is anonymous</h2>
    {% endif %}
    <a href="{% url 'myauth:users-list' %}">List of users</a>
{% endblock %}
