{% extends 'myauth/base.html' %}

{% block title %}
    List of users
{% endblock %}

{% block body %}
    <h1>List of all users</h1>
    {% for user in users_list %}
        <p>Name:
            <a href="{% url 'myauth:profile_details' pk=user.pk %}"> {{ user.first_name }} {{ user.last_name }}</a>
        </p>
        <p>Email: {{ user.email }}</p>
        <p>Bio: {{ user.profile.bio }}</p>
        <img width="100" src="{{ user.profile.avatar.url }}" alt="{{ user.profile.avatar.name }}">

    {% endfor %}

{% endblock %}