{% extends 'myauth/base.html' %}

{% block title %}
    Details of profile
{% endblock %}

{% block body %}
    <h1>Detail user</h1>
    <div>
        <img width="120" src="{{ user.profile.avatar.url }}" alt=" {{ user.profile.avatar.name }}">
        {% if request.user.is_staff or request.user.pk == user.pk %}
            <p>
                <a href="{% url 'myauth:avatar-update' pk=user.pk %}">Update Avatar</a>
            </p>
        {% endif %}
        <p>{{ user.first_name }} {{ user.last_name }}</p>
    </div>
    <a href="{% url 'myauth:users-list' %}">Back to users list</a>
{% endblock %}