{% extends 'myauth/base.html' %}

{% block title %}
    {{ user.first_name }} {{ user.last_name }}
{% endblock %}

{% block body %}
    <header>
        <h1 class="profile-title">Мой профиль</h1>
    </header>

    <section class="profile-details">
        {% if user.is_authenticated %}
            <h2>Детали профиля</h2>

            <div class="avatar-container">
                {% if user.profile.avatar %}
                    <img class="avatar" width="250" height="250" src="{{ user.profile.avatar.url }}" alt="{{ user.profile.avatar.name }}">
                {% else %}
                    <p class="no-avatar">Аватар не загружен</p>
                {% endif %}
            </div>

            <ul class="user-info">
                <li><strong>Имя пользователя:</strong> {{ user.username }}</li>
                <li><strong>Имя:</strong> {{ user.first_name }}</li>
                <li><strong>Фамилия:</strong> {{ user.last_name }}</li>
                <li><strong>Email:</strong> {{ user.email }}</li>
                <li><strong>Биография:</strong> {{ user.profile.url }}</li>
            </ul>

            {% if request.user.is_staff or request.user.pk == user.pk %}
                <a class="edit-profile" href="{% url 'myauth:avatar-update' pk=user.pk %}">Редактировать профиль</a>
            {% endif %}
        {% else %}
            <h2>Пользователь анонимный</h2>
        {% endif %}
    </section>

    <footer>
        <a href="{% url 'myauth:list-users' %}">Список пользователей</a>
    </footer>
{% endblock %}
