{% extends 'shopapp/base.html' %}

{% block title %}
Orders List
{% endblock %}

{% block body %}
<h1>Orders:</h1>
{% if object_list %}
<div>
    {% for order in object_list %}
    <p><a href="{% url 'shopapp:orders_details' pk=order.pk %}">
        Details #{{ order.pk }}</a></p>
    <div>
        <p>Order by: {% firstof order.user.first_name order.user.username %}</p>
        <p>Promocode: <code>{{ order.promocode }}</code></p>
        <p>Delivery address: {{ order.delivery_address }} </p>
        <div>
            <ul>
                {% for product in order.products.all %}
                    <li> {{ product.name }} for {{ product.price }}$</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
No have orders yet
{% endif %}
<div>
    <a href="{% url 'shopapp:create_orders' %}">Create order</a>
</div>
{% endblock %}